#thisHeader{
    background: #1989e5;
    font-size: 20px;
    padding: 5px;
}
#heading{
    font-size:30px;
    padding: 10px;
}
#thisSearchbox{
    padding: 10px;
}
html{
    background: #daf243;
}
#searchButton{
    padding-right: 5px;
    background-color: black;
    color: antiquewhite;
    font: bold;
    font-size: 20px;
}
#searchButton:active{
    padding-right: 5px;
    background-color: antiquewhite;
    color: black;
    font: bold;
    font-size: 20px;
}
#searchBox{
    height: 20px;
    width: 200px;
}
footer{
    background-color: #0bed40;
}
#container{
    background-color: gray;
    text-align: center;
}
#titleTemperatureC,#titleTemperatureF,#titleHumidity,#thisLocation,#titleLatitude,#titleLongitude,#Text{
    font-size: 21px;
    font-family: fantasy;
    color: red;
    padding:6px;
}
#icon{
    width: 50px;
    height: 50px;
/*    background-color: ;*/
}
#showTemperatureC,#showTemperatureF,#showHumidity,#showLatitude,#showLongitude{
    font-size: 20px;
    font-family: cursive;
    
}
